.card {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: 60px 8em auto;
  padding: 24px;
  flex-direction: column;
  background-color: white;
  height: 288px;
  -webkit-box-shadow: -1px 3px 16px 1px rgba(237,237,237,1);
  -moz-box-shadow: -1px 3px 16px 1px rgba(237,237,237,1);
  box-shadow: -1px 3px 16px 1px rgba(237,237,237,1);
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
}

.card > .header {
  display: grid;
  grid-area: header;
  grid-template-columns: 60px 1fr;
}

.card > .header > .header-text {
  margin-left: 16px;
  padding: 4px 0;
}

.card > .header > .header-text > .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.card > .header > .header-text > .subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  opacity: 0.7;
}

.card > .description {
  grid-area: body;
  padding: 16px 0;
}

.card > .description > .description-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

.card > .footer {
  grid-area: footer;
  align-self: end;
}

.card > .header > img {
  width: 60px;
  height: 60px;
}
